<h1>Proyecto: <%= @proyecto.name %></h1>

<h2> Fase 1: Listado de Variables </h2>

<% @proyecto.variables.each do |vars| %>
  <h4> <%= vars.etiqueta %> </h4> 
  <p>  <%= vars.significado %> </p>
<%end%>

<%= form_for [@proyecto, @proyecto.variables.build] do |f| %>
  <p>Etiqueta    <%= f.text_field :etiqueta%> 
     Significado <%= f.text_field :significado %>
                 <%= f.submit "Guardar" %>
                 <%= link_to 'Ejecutar', proyectos_path %>
 </p>
<%end%>



<%= link_to 'Inicio', proyectos_path %>
