<p id="notice"><%= notice %></p>

<p>
  <b>Nombre proyecto:</b>
  <%= @proyecto.nombre_proyecto %>
</p>

<p>
  <b>Num var:</b>
  <%= @proyecto.num_var %>
</p>


<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
